[submodule "operating-system/xv6-labs"]
	path = operating-system/xv6-labs
	url = git@github.com:akshob/xv6-riscv.git
[submodule "distributed-systems/golabs"]
	path = distributed-systems/golabs
	url = git@github.com:akshob/6.824-golabs-2022.git
